---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

body{
    background-image:
	linear-gradient(
          rgba(0, 0, 0, 0.2), 
          rgba(0, 0, 0, 0.2)
        ),
     	url('public/images/tree-rev-loop.gif');
    background-size: cover;
    
    height: 100vh;
    padding:0;
    margin:0;
}

*{
	color: white;
}

.site-header{
	background:black;
	color: white;
}

.site-header,a {
	color:white
}

footer{
	background:black;
	color:white;
}

a:hover {
	font-weight:bold;
	color:white;
	}
